* {
    padding: 0px;
    margin: 0px;
}
body {
    padding: 20px;
    font-family: Helvetica;
}
a {
    text-decoration: none;
    font-weight: 600;
    color: #444;
}
a:hover {
    color: #dd5555;
}
ul {
    list-style: none;
}
ul li {
    list-style: none;
}