{% extends "base.html" %}

{% block title %}
    {% with all_articles.0 as article %}
        {{ article.group }}    
        {% endwith %}
{% endblock %}

{% block header %}
    <script type="text/javascript" src="/media/js/getdata.js"></script>
    <div id="toolbar">
        <div id="lengthbutton" class="button">map:chars</div>
        <div id="heatbutton" class="button">map:freq</div>
        <div id="namedbutton" class="button">named:level</div>
        <!--
<div id="my-slider" class="dragdealer">
        	<div id="speed" class="handle">x</div>
        </div>
-->
    </div>
    <div id="SVGoverlay"></div>
{% endblock %}
    
    
{% block content %}
        
        
        {% if all_articles %}
        
            {%  with all_articles.0 as article %}
                
                <h1 id="story_headline" style="border-bottom:2px solid #333; padding-bottom: 4px; margin-bottom: 20px;">
                    {{ article.headline|safe }}
                    <span style="float: right; margin-top: 20px; font-size: 11px">{{ article.date }}</span>
                </h1>
            {% endwith %}
            
            <ul style="display: none;">
            {% for article in all_articles %}
                <li class="pubs"> {{ forloop.counter }} <a href="{{ article.url }}" class="publinks" style="margin-left: 8px">{{ article.publisher|safe }}</a></li>
            {% endfor %}
            </ul>
            
        {% else %}
            <p>Sorry, no articles available.</p>
        {% endif %}


{% endblock %}





