{% extends "base.html" %}

{% block title %}{{ "g a t h e r " }}{% endblock %}

<script type="text/javascript">

    //MAKE A REAL AJAX POST CALL THAT SENDS THE SERIALIZED FORM DATA AND GETS THE NEW URL IN RETURN
    //MAKE A WAITING SCREEN AS PLACEHOLDER UNTIL THE NEW URL IS RECIEVED
    
</script>

{% block content %}
    <div id="gatherPage">
        <h1 style="font-weight: 400; font-size: 42px; margin-bottom: 0px;"> 
            Article Gather:  
        </h1>
        <h3 style="font-weight: 100;"> 
            Submit 2(min) — 6(max) links for articles you would like to compare.  
        </h3>
        
        {%comment%}{{ current_path }}{% endcomment%}
        
        <form id="gatherForm" action="/gather/" method="post">
            <span id="csrf">{% csrf_token %}</span>
                        
            
            {% if form.headline.errors %} <span class="form_error">{{ form.headline.errors }}</span> {% endif %}
            <p style="border-bottom: 1px solid #333; padding-bottom: 14px; margin-bottom: 16px"><label for="id_headline" >Headline:</label>
                <input 
                    id="id_headline" 
                    class="form_headline" 
                    type="text" 
                    name="headline" 
                    value="{% if form.headline.value %} {{ form.headline.value }} {% else %} {{""}} {% endif %}" maxlength="100" 
                    style="font-family: Oswald; font-weight: 400;" />
                <span>*(required)</span>
            </p>
            
            {%comment%}
            {% for field in form %}
                {% if field.name != "headline" %}
                    {% if field.name.errors %} <span class="form_error">{{ field.errors }}</span> {% endif %}
                    <p><label for="id_{{field.name}}">Article Link {{ forloop.counter}}:</label>
                        <input 
                            id="id_{{field.name}}" 
                            class="article_url" 
                            type="text" 
                            name="{{field.name}}" 
                            value="{% if form.field.name.value %}{{ form.field.name.value }} {% else %} {{ forloop.counter}} {% endif %}" 
                            maxlength="255" />
                        <span>*(required)</span>
                    </p>
                {% endif %}
            {% endfor %}
            {% endcomment%}
            
                {% if form.article_url_1.errors %} <span class="form_error">{{ form.article_url_1.errors }}</span> {% endif %}
            <p><label for="id_article_url_1">Article Link 2:</label>
                <input 
                    id="id_article_url_1" 
                    class="article_url {% if form.article_url_1.errors %} {% else %} focused {% endif %}" 
                    type="text" 
                    name="article_url_1" 
                    value="{% if form.article_url_1.value %}{{ form.article_url_1.value }} {% else %} {{""}} {% endif %}" 
                    maxlength="255" />
                <span>*(required)</span>
            </p>
            
            
                {% if form.article_url_2.errors %} <span class="form_error">{{ form.article_url_2.errors }}</span> {% endif %}
            <p><label for="id_article_url_2">Article Link 2:</label>
                <input 
                    id="id_article_url_2" 
                    class="article_url {% if form.article_url_2.errors %} {% else %} focused {% endif %}" 
                    type="text" 
                    name="article_url_2" 
                    value="{% if form.article_url_2.value %}{{ form.article_url_2.value }} {% else %} {{""}} {% endif %}" 
                    maxlength="255" />
                <span>*(required)</span>
            </p>
            
                {% if form.article_url_3.errors %} <span class="form_error">{{ form.article_url_3.errors }}</span> {% endif %}
            <p><label for="id_article_url_3">Article Link 3:</label>
                <input 
                    id="id_article_url_3" 
                    class="article_url {% if form.article_url_3.errors %} {% else %} focused {% endif %}"
                    type="text" 
                    name="article_url_3" 
                    value="{% if form.article_url_3.value %}{{ form.article_url_3.value }} {% else %} {{""}} {% endif %}" 
                    maxlength="255" />
            </p>
                
                {% if form.article_url_4.errors %} <span class="form_error">{{ form.article_url_4.errors }}</span> {% endif %}
            <p><label for="id_article_url_4">Article Link 4:</label>
                <input 
                    id="id_article_url_4" 
                    class="article_url {% if form.article_url_4.errors %} {% else %} focused {% endif %}" 
                    type="text" 
                    name="article_url_4" 
                    value="{% if form.article_url_4.value %}{{ form.article_url_4.value }} {% else %} {{""}} {% endif %}" 
                    maxlength="255" />
            </p>
            
                {% if form.article_url_5.errors %} <span class="form_error">{{ form.article_url_5.errors }}</span> {% endif %}
            <p><label for="id_article_url_5">Article Link 5:</label>
                <input 
                    id="id_article_url_5" 
                    class="article_url {% if form.article_url_5.errors %} {% else %} focused {% endif %}" 
                    type="text" 
                    name="article_url_5" 
                    value="{% if form.article_url_5.value %}{{ form.article_url_5.value }} {% else %} {{""}} {% endif %}" 
                    maxlength="255" />
            </p>
                
                {% if form.article_url_6.errors %} <span class="form_error">{{ form.article_url_6.errors }}</span> {% endif %}
            <p><label for="id_article_url_6">Article Link 6:</label>
                <input 
                    id="id_article_url_6" 
                    class="article_url {% if form.article_url_6.errors %} {% else %} focused {% endif %}"  
                    type="text" 
                    name="article_url_6" 
                    value="{% if form.article_url_6.value %}{{ form.article_url_6.value }} {% else %} {{""}} {% endif %}" 
                    maxlength="255" />
            </p>
            
            
            
            <input type="button" value="Submit" id="submitForm" />
        </form>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){ 
        
            var token = "";
            
            $('input[type="text"]').each(function(){
                    val = $(this).attr('value');
                    chars = val.match(/[a-zA-Z]/);
                    if(chars){ $(this).attr('value', val); }
                    else{ $(this).attr('value', ''); }
            });
            
            $('input').each(function(){
                    if($(this).attr('name') == 'csrfmiddlewaretoken'){
                        token = $(this).attr('value');
                    }
            });
           
            
            $('#submitForm').click(function(){
                event.preventDefault();             
                form = $('#gatherForm');
                form_data = form.serialize();
                makeAjaxPOST(form_data);
            });    
            
            
            var makeAjaxPOST = function(post_data){
                $.post('', post_data, 
                    function(data) {
                      console.log(data);
                    }
                );
            }


/*
            $.ajax(
                POST,
                data = post_data,
            )
*/

            
            /*
$('input[type="text"]').click(function(){
                //if( $(this).attr('value') == "xmpty"){
                    //$(this).css({'color': '#666'});
                    val = $(this).attr('value');
                    val = jQuery.trim( val );
                    $(this).attr('value', val);
                //}
            });
*/
        });
    </script>
{% endblock %}



