{% extends "base.html" %}

{% block title %}{{ "l a t e s t" }}{% endblock %}

{% block content %}


{% if latest_news %}
    {% with latest_news.0 as article %}
        <h1>{{ article.1.1.date }}</h1>
    {% endwith %}
    
    {% for story in latest_news.1 %}
    <div class="story_preview">
        {% with story.0 as article %}
            <h3 class="latest_headlines" group="{{ article.group }}">
                <a href="{{ article.group }}"> {{ story.1|safe }}</a>
            </h3>
        {% endwith %}
        <ul>
            {% for article in story %}
                <li class="latest_items"><a href="{{ article.url }}" class="publinks">{{ article.publisher|safe }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    
    
{% else %}
    <p>No articles available.</p>
{% endif %}

{% endblock %}



