{% extends "base.html" %}

{% block title %}
        {{lastword}}  
{% endblock %}

{% block content %}
    <div id="gatherPage">
    {% if all_articles %}
        
        <h1 style="margin-top: 16px; margin-bottom: 16px; border-bottom: 3px solid #333; font-size: 44px;">{{lastword}}</h1>
        
        {%comment%}
        {% for art in all_articles%}
            <img src="{{art}}" alt="image missing" width="320px"/>
        {% endfor %} 
        {%endcomment%}
        
    
        <ul style="padding-bottom: 12px; margin-bottom: 0px;">
        
        {% for text in poem %}
            <li style="margin-bottom: 6px; font-size: 16px"> {{ text }} </li>
        {% endfor %}
        
        </ul>
        
        {% with all_articles.0 as article %}
        <div id="poetools">
             <div id="peom_PA" class="button" group="{{ article }}">Previous Article</div>
             <div id="peom_A" class="button" group="{{ article }}">Another</div>
             <div id="peom_NA" class="button" group="{{ article }}">Next Article</div>
        </div>
        {% endwith %}
        
        <p style="text-align: center; margin-bottom: 20px;"><a href="{{link}}" style="font-family: Titillium; font-weight: 100; font-size: 11px; color: #888;" target=_blank >source article</a></p>
        
    {% else %}
        <p style="margin-top: 40px; font-weight: 200;">Sorry, No POETRONIX available.</p>
    {% endif %}
    
    <script type="text/javascript">
        $(document).ready(function(){ 
            var token = "";
            var resizeContent = function(){
                gP = $('#gatherPage').outerHeight()
                $('#content').css({'height': gP+70});
            }
            resizeContent();
        
            $('#peom_PA').click(function(){
                groupNum = $(this).attr('group');
                groupNum = String( parseInt(groupNum)-1 );
                $(this).attr('href', 'http://'+loc+'/poetronix/'+groupNum);
                window.location.href = $(this).attr('href');
            });
            
            $('#peom_A').click(function(){
               groupNum = $(this).attr('group');
                $(this).attr('href', 'http://'+loc+'/poetronix/'+groupNum);
                window.location.href = $(this).attr('href');
            });
            
            $('#peom_NA').click(function(){
               groupNum = $(this).attr('group');
               groupNum = String( parseInt(groupNum)+1 );
                $(this).attr('href', 'http://'+loc+'/poetronix/'+groupNum);
                window.location.href = $(this).attr('href');
            });
            
            var loc = window.location.host;
            var gamma=0, beta=0;
            page = document.getElementById('gatherPage');
            console.log(page);
            function onOrientation(event) {
                    //rotate = 'rotate(' + event.gamma + 'deg)';
                    //scale = 'scale(' + ((event.beta/180)*2 + 1) + ')';
                    gamma = event.gamma;
                    beta = (event.beta/180)*2 + 1;
                    //console.log("rotate :"+rotate+", scale :"+scale);
                    
                    
                    if( gamma < -10.0 || gamma > 10.0 ){
                        console.log('erase and show form');
                        page.style.webkitTransform = 'translate( '+ gamma*8 +'px, 0px )';
                    } else {
                        page.style.webkitTransform = 'none';
                    }
                    if(beta < 0.7){
                        console.log('spin randomize headlines');
                    }
                    
            }
            
            window.addEventListener('deviceorientation', onOrientation);
            
        });
    </script>

{% endblock %}



