<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/media/css/main.css" rel="stylesheet" type="text/css" media="screen"/>
    <script type="text/javascript" src="/media/js/jquery.js"></script>
    <script type="text/javascript" src="/media/js/jqeasing_v1.3.js"></script>
    <title>i n A r t i c l e</title>
</head>

<body style = "background: rgb(250,240,242) url(/media/images/pape_light.gif) repeat 0 0; padding-top: 32px;">
    <a id="splashimage" href="http://www.inarticle.org/news">
        	<img src="/media/images/splash_900.jpg" alt="inArticle" width="900" height="698"/>
    </a>
    
    <script type="text/javascript">
        $(document).ready(function(){ 
            what = $('#splashimage');
            center = function (whatitis) {
                    //whatitis.css("top", (($(window).height() - whatitis.outerHeight()) / 2) + $(window).scrollTop() + "px");
                    whatitis.css("left", (($(window).width() - whatitis.outerWidth()) / 2) + $(window).scrollLeft() + "px");
            }
            
            center(what);
            $(window).resize(function() {
              center(what);
            });
        });
    </script>

</body>
</html>