<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/media/css/main.css" rel="stylesheet" type="text/css" media="screen"/>
    <script type="text/javascript" src="/media/js/jquery.js"></script>
    <script type="text/javascript" src="/media/js/jqeasing_v1.3.js"></script>
    <script type="text/javascript" src="/media/js/d3.v2.js"></script>
    <script type="text/javascript" src="/media/js/main.js"></script>
    <title>{% block title %}i n A r t i c l e{% endblock %}</title>
</head>

<body>
    {% block header %}
    {% endblock %}
        
        <div id="toolbacker"></div>
        <div id="toolbar">
            <div id="whitelogo"><a href="http://www.inarticle.org/news/0"><img src="/media/images/inartlogo_light.png" alt="inArticle" width="97" height="24" style="opacity: 0.6;"/></a></div>
            <div id="gatherbutton" class="rightnav button">Gather Articles</div>
            <div id="feedbutton" class="rightnav button">View Feed</div>
            {% block toolbar %}
            
            {% endblock %}
        </div>
    
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        
    <div id="footer">  
    {% block footer %}
        
    {% endblock %}
    </div>

</body>
</html>